* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    list-style: none; /*Tira as bolinhas da lista*/
    border: none; /*sem borda*/
    text-decoration: none; /*Linha que fica em baixo do link*/
}